.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.rateBar {
    width: 100%;
    margin-bottom: 20px;
}