.search-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    margin-left: 0;
}

.search-class td {
    cursor: pointer;
}

.search-class form {
    padding-bottom: 20px;
}

.collision {
    /* color row red with 0.7 opacity */
    background-color: rgba(255, 0, 0, 0.2);
}

.no-collision {
    /* color row green with 0.7 opacity */
    background-color: rgba(0, 255, 0, 0.2);
}