*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table {
  display: block;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.calendar table {
  display: table;
}

table tr {
  width: 100%;
}

#google-map {
  border: 1px solid black;
  margin: 10px;
  margin-right: 0;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.calendar button {
  margin: 10px;
}

.cal {
  margin: 10px;
  width: 95%;
  height: 70%;
}

.calendar_default_event_inner {
  background: #2e78d6;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  padding: 5px;
  opacity: 0.8;
}

.calendar_default_corner:last-child{
  display: none;
}